/*General*/
html
{
	background:transparent none repeat scroll 0 0;
	border: 0 none;
	font-size:1em;
	outline-width: 0;
	outline-style:none;
	vertical-align: baseline;
	}
img{border:none;}
body
{
	background:none repeat scroll 0 0 #222222;
	font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-stretch: normal;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
	padding: 0;
	color: #666666;
}
ul
{
	list-style-type:none;
	list-style-position:outside;
	list-style-image:none;
	margin: 0;
	padding: 0;
}
li
{
	border: none;
	}
div
{
	margin: 0;
	padding: 0;
	}
p
{
	margin: 0;
	padding: 0;
	}
a
{
	
	text-decoration: none;
	color: #000000;
	}
a:link, a:visited
{

	}
/*Id*/
#reset:hover
{
	cursor: pointer;
	}
#p_id
{
	
	}
#p_header
{
	background: url("/images/bg-sprite.png") repeat-x scroll 0 0 #08080A;
	height: 103px;
	min-width: 1200px;
	position: relative;
	}
#p_logo
{
	background: url("/images/logo.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 40px;
	width: 330px;
	position: absolute;
	left: 38px;
	top:14px;
	text-indent: -9999px;
	}
#p_stage,#p_stage_sidebar
{
	background:transparent url("/images/bggray.png") repeat scroll 0 0;
	min-height: 800px;
	width: 100%;
	overflow: hidden;
	min-width: 1200px;
	}
#p_stage_sidebar
{
	background: url("/images/bg-side-bar.png") repeat-y scroll 0 0 #FFFFFF;
	}
#p_sidebar
{
	float: left;
	width: 180px;
	}
#p_sidebar li
{
	display: block;
	}
.p_sidebar_general li a
{
	background-image: url("/images/sprites-side-nav.png");
	background-repeat: no-repeat;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #FFFFFF;
	color: #3D3D3D;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	padding: 0 0 0 15px;
	text-indent: 19px;
	background-position: 10px 6px;	
	}
.p_sidebar_general li a:hover
{
	background-color: #cccccc;
	border-bottom: 1px solid #bbbbbb;
	border-top: 1px solid #dddddd;
	}
#sidebar_selected
{
	background-color: #999999;
	border-bottom: 1px solid #888888;
	border-top: 1px solid #888888;
	color: #ffffff;
	cursor: default;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
	}
#sidebar_selected:hover
{

	}
#p_content
{
	margin: 0 0 0 181px;
	padding: 30px 36px 36px;
	}
#p_footer
{
	border-top: 2px solid #000000;
	width: 100%;
	min-width: 1200px;
	text-align: center;
	height: 60px;
	overflow: hidden;
	padding: 15px 0 0 0;
}
#p_footer a
{
	color: #999999;
	padding: 0 15px;
	}
#p_footer a:hover
{
	color: #ffffff;
	text-decoration: underline;
	}
#searchForm
{
	float: left;
	}
/*menu*/
#userName
{
	padding: 0 10px;
	color: white;
	}
#panel_Msg
{
	padding: 0 0 0 169px;
	width: 128px;
	}
#panel_uinfo
{
	background: url("/images/bg-sprite.png") repeat-x scroll 0 -195px #303031;
	height: 30px;
	padding: 0 9px;
	position: absolute;
	right: 30px;
	top:1px;
	}
#panel_uinfo li
{
	float: left;
	padding: 0 9px;
	line-height: 30px;
	}
#panel_uinfo li a
{
	color: #ffffff;
	font-weight: bold;
	}
#panel_uinfo li.c_user
{
	color: #bcbcbc;
	font-style: oblique;
	}
#nav_main
{
	background: none repeat scroll 0 0 #000003;
	padding: 2px 2px 0 0;
	bottom: 0;
	left: 20px;
	position: absolute;
	}
#nav_main li
{
	display: inline;
	}
#nav_main_selected
{
	background: none repeat scroll 0 0 #F7F7F7;
	border-top: 1px solid #FFFFFF;
	color: #000000;
	}
#nav_main_selected:hover
{
	color: #000000;
	cursor: default;
	}
.nav_general a
{
	float: left;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	margin: 0 2px 0 0;
	padding: 0 10px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	background: url("/images/bg-sprite.png") repeat-x scroll 0 -114px #070709;
	border-top: 1px solid #333333;
	color: #bcbcbc;
	}
.nav_general a:hover
{
	color: #ffffff;
	}
#nav_sub
{
	background: none repeat scroll 0 0 #000003;
	padding: 2px 2px 0 0;
	bottom: 0;
	right: 10px;
	position: absolute;
	}
#nav_sub li
{
	display: inline;
	}
#nav_sub a
{
	background: url("/images/bg-sprite.png") repeat-x scroll 0 -256px #7E081B;
	border-top: 1px solid #333333;
	color: #bcbcbc;
	}
#nav_sub a:hover
{
	color: #ffffff;
	}

/*id breadcrumb*/
#p_breadcrumb
{
	background: url("images/bg-sprite.png") repeat-x scroll 0 -232px #F7F7F7;
	border-bottom: 1px solid #c0c0c0;
	height: 3px;
	}
/*tool kit*/
.floatl
{
	float: left;
	}
.floatr
{
	float: right;
	}
.fontLarge
{
	font-size: x-large;
}
.red
{
	color: red;
	}
.button
{
	-moz-border-radius: 4px 4px 4px 4px;
	display: inline-block;
	padding: 3px 9px;
	}
.a_text
{
	color: #0066BC;
	}
.radius
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	}
.pos_center
{
	text-align: center;
	}
.hide
{
	display: none;
	}
h1
{
	margin: 0;
	padding: 0;
	font-size: 14px;
	}
h2
{
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	background:url("/images/bg-header.png") repeat scroll 100% -27px transparent;
	border-bottom: 1px solid #d7d7d7;
	color: #000000;
	font-size: 12px;
	margin: 0;
	line-height: 20px;
	padding: 6px 9px;
	}
h3
{
	margin: 0;
	padding:5px 0;
	font-size: 15px;
	color: #000000;
	}
.errorMsg
{
	color: red;
	font-size: small;
}
/* overall tools*/
.overall_tool
{
	-moz-border-radius:4px 4px 4px 4px;
	background: none repeat scroll 0 0 #f7f7f7;
	border:1px solid #d7d7d7;
	font-size: 12px;
	margin:20px 0 0 18px;
	padding: 10px;
	height: 50px;
	}
.sub_tool
{
	-moz-border-radius:4px 4px 4px 4px;
	background: none repeat scroll 0 0 #f7f7f7;
	border:1px solid #d7d7d7;
	font-size: 12px;
	margin:5px;
	padding: 10px;
	height: 50px;
	width: auto;
	}
.button_group
{
	text-align: center;
	float: right;
	}
.button_group div
{
	float: left;
	padding: 0 15px;
	}
.button_group div input
{
	margin: 10px 0;
	}
.button_group div:hover
{
	background-color:#ededed;
	border: 1px solid #d7d7d7;
	}
/* overall content*/
.overall_content
{
	font-size: 12px;
	line-height: 16px;
	padding: 10px;
	margin: 20px 0 0 18px;
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #e1e1e1;
	padding: 1px;
	color: #333333;
	overflow: hidden;
	}
.overall_content_half
{
	min-height: 250px;
	padding: 2px;
	width: 49%;
	border: 1px solid #e1e1e1;
	}
.overall_content_left
{
	float: left;
	padding: 2px;
	width: 34%;
	border: 1px solid #e1e1e1;
	}
.overall_content_right
{
	border: 1px solid #e1e1e1;
	padding: 2px;
	float: right;
	width: 64%;
	}
.overall_content table
{
	width: 100%;
	table-layout: auto;
	empty-cells: show;
	text-align: left;
	}
.overall_content table th
{
	background: none repeat scroll 0 0 #D7D7D7;
	font-weight: bold;
	padding: 5px 0 4px 5px;
	}
.overall_content table td
{
	background: none repeat scroll 0 0 #ffffff;
	font-weight: normal;
	padding: 5px 0 4px 10px;
	border-bottom: 1px dashed #d7d7d7;
	}
.overall_content table td a
{
	color:#006bd8 ;
	}
/*classes*/
.subMenu
{
	height: 27px;
	background: url("/images/submenu.png") repeat-x scroll 0 0 transparent;
	font-size: 13px;
	font-weight: bolder;
	padding: 8px 0 0 15px;
	margin: 5px 0 0 0;
	}
.p_msg
{
	-moz-border-radius:4px 4px 4px 4px;
	background: none repeat scroll 0 0 #eeeeee;
	border: 1px dashed #cccccc;
	color: #666666;
	margin: 20px 0 0 18px;
	padding: 10px;
	}
/* controls*/
.tbDot
{
	}
input
{
	margin: 0;
	padding: 0;
	}
label
{
	color: #888888;
	display: block;
	font-size: 13px;
	padding: 3px;
	}
.tbText
{
	background-color: #fffcee;
	/*background:url("/images/bg_ta.gif") repeat scroll 0 0 #FFFCEE;*/
	border-radius:4px 4px 4px 4px;
	border: 1px solid #EEEEEE;
	box-shadow:1px 1px 1px #BBBBBB inset, 0 0 1px #CCCCCC inset;
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	padding: 5px 5px;
	color: #777777;
	outline:medium none;
	}
.tbTextS
{
	background-color: #fffcee;
	/*background:url("/images/bg_ta.gif") repeat scroll 0 0 #FFFCEE;*/
	border-radius:4px 4px 4px 4px;
	border: 1px solid #EEEEEE;
	box-shadow:1px 1px 1px #BBBBBB inset, 0 0 1px #CCCCCC inset;
	font-size: 10px;
	line-height: 21px;
	margin: 0;
	padding: 5px 5px;
	color: #777777;
	outline:medium none;
	}
#searchBox div
{
	float: left;
	padding: 0 5px;
	}
#searchBox:hover
{
	background: #F7F7F7;
	border: none;
	}
#searchBox div:hover
{
	background: #F7F7F7;
	border: none;
	}
.stStyle
{
	margin: 12px 0 0 0;
	padding: 3px;
	height: 25px;
	line-height: 25px;
	}
.tbLarge
{
	width: 350px;
	}
.tbMedium
{
	width: 200px;
	}
.tbMediumer
{
	width: 100px;
	}
.tbMediumst
{
	width: 150px;
	}
.tbShort
{
	width:50px;
	}
.tbMax
{
	width: 90%;
	}
.tbFloatM
{
	float: left;
	margin: 5px auto;
	padding: 5px 30px;
	}
.btSearch
{
	background: url("/images/icons/functions/search2.png") no-repeat scroll 0 0;
	cursor: pointer;
	height: 34px;
	line-height: 34px;
	width: 34px;
	border: none;
	}
.wg_bt
{
	padding: 3px 5px 3px 5px;
	border: 1px solid #D7D7D7;
	display: block;
	background-color: #808084;
	color: white;
	margin: 5px 0 0 5px;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	width: 50px;
	}
.btConfirmNf
{
	padding: 5px 30px 5px 30px;
	border: 1px solid #D7D7D7;
	display: block;
	background-color: #808084;
	color: white;
	margin: 10px 9px 0 0;
	line-height: 30px;
	font-size: 15px;
	text-align: center;
	}
.btConfirmNf:hover
{
	background-color: #CCCCD0;
	cursor: pointer;
	}
.btConfirm
{
	padding: 5px 30px 5px 30px;
	border: 1px solid #D7D7D7;
	display: block;
	background-color: #808084;
	color: white;
	margin: 0 9px 0 0;
	line-height: 25px;
	font-size: 15px;
	text-align: center;
	float: right;
	}
.btConfirmVar2
{
	padding: 5px 30px 5px 30px;
	border: 1px solid #D7D7D7;
	display: block;
	background-color: #808084;
	color: white;
	line-height: 25px;
	font-size: 15px;
	text-align: center;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	}
.btUploadImage
{
	padding: 5px 30px 5px 30px;
	border: 1px solid #D7D7D7;
	display: block;
	background-color: #808084;
	color: white;
	margin: 0 9px 0 0;
	line-height: 30px;
	font-size: 15px;
	text-align: center;
	}
.btUploadImage:hover
{
	background-color: #CCCCD0;
	cursor: pointer;
	}
#imageUpload
{
	background-color: #fffcee;
	/*background:url("/images/bg_ta.gif") repeat scroll 0 0 #FFFCEE;*/
	border: 1px solid #EEEEEE;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	padding: 5px 5px;
	color: #777777;
	outline:medium none;
	}
#conUpload
{
	padding:0 20px;
	}
.btConfirmVar
{
	padding: 3px 15px 3px 15px;
	border: 1px solid #D7D7D7;
	display: block;
	background-color: #808084;
	color: white;
	margin: 0 9px 0 0;
	line-height: 18px;
	font-size: 13px;
	text-align: center;
	width: 100px;
	}
.btConfirmVar:hover
{
	background-color: #CCCCD0;
	cursor: pointer;
	}
.btConfirm:hover
{
	background-color: #CCCCD0;
	cursor: pointer;
	}
.btConfirmVar2:hover
{
	background-color: #CCCCD0;
	cursor: pointer;	}
.btDelete
{
	padding: 5px 30px 5px 30px;
	border: 1px solid #D7D7D7;
	display: block;
	background-color: #808084;
	color: white;
	margin: 0 9px 0 0;
	line-height: 30px;
	font-size: 15px;
	text-align: center;
	}
.btDelete:hover
{
	cursor: pointer;	
	}
#submit-label,#submit2-label
{
	display: none;
	}
/*lightbox*/
#msgBox
{
	display: none;
	overflow: hidden;
	}
#ajaxMsgBox
{

	}
.ajaxMsgBox_text
{
	padding: 50px;
	font-size: medium;
	line-height: 15px;
	}
.ajaxMsgBox_p
{
	padding: 10px;
	font-size:small;
	line-height: 15px;
	}
#ajaxMsgBox_Emp
{
	width:500px;
	margin: 10px;
	}
.errors
{
	color: red;
	}
.allignCenter
{
	text-align: center;
	}
.underline
{
	text-decoration: underline;
	}
.warning
{
	font-size: xx-large;
	}
.ui-datepicker
{
	width: auto;
	}
.sb_wg
{
	padding: 3px 0 3px 20px;
	font-size: small;
	font-weight: bold;
	background-color: #d7d7d7;
	border-bottom:1px solid #CCCCCC;
	border-top: 1px solid #FFFFFF;
	color: black;
	margin: 0 0 5px 0;
	}
.wg_wrapper
{
	padding:0 0 10px 0;
	}
#quicklink
{
	margin: 0 10px;
	padding:2px 5px;
	font-size: small;
	}
.home_icon
{
	float: left;
	margin: 10px;
	border: 1px solid #d7d7d7;
	}
.home_icon:hover
{
	background-color: #ededed;
	}
.home_icon a
{
	text-align: center;
	}
.exampleDiv
{
	padding: 5px 10px;
	}
.wg_form
{
	padding: 5px;
	}
.slideMenu
{

	}
.slideMenu:hover
{
	cursor: pointer;
	}
#btPrg,#btSafe,#btContractor,#btMaterial,#btSlideGn
{
	background-image: url("/images/sprites-side-nav.png");
	background-position: 10px -157px;
	background-repeat: no-repeat;
	}
#conPrg a,#conSafe a,#conContractor a, #conMaterial a,#conSlideGn a
{
	background-image: url("/images/sprites-side-nav.png");
	background-position: 30px -535px;
	background-repeat: no-repeat;
	padding: 0 0 0 35px;
	}
.subMenu_switch_close
{
	background-image: url("/images/icons/functions/m_close.png");
	background-repeat: no-repeat;
	padding: 5px 30px;
	}
.subMenu_switch_open
{
	background-image: url("/images/icons/functions/m_open.png");
	background-repeat: no-repeat;
	padding: 5px 30px;
	}
#conAddCp
{
	padding: 0 0 5px 15px;
}
.conTable td
{
	border-right:1px dashed #D7D7D7
	}
.conMonAll
{
	display: none;
	}
#conUpload
{
	display: none;
	}
#conImage
{
	padding: 5px;
	}
.conImage_cell
{
	float: left;
	width: 280px;
	height: 210px;
	display: block;
	padding: 10px;
	border-bottom: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
	}
.bubbleInfo {
	position: relative;
	top: 5px;
	left: 5px;
 }
	.trigger {
	position: absolute;
 }
	
 /* Bubble pop-up */

.popup {
  position: absolute;
  display: none;
  z-index: 50;
  border-collapse: collapse;
 }
.ptitle
{
	font-size: 13px;
	font-weight: bold;
	padding: 5px 10px 5px 0;
	}
.iframe
{
	width: 100%;
	height: 600px;
	}
.labelSelected
{
	background-color: #cccccc;
	border-bottom: 1px solid #bbbbbb;
	border-top: 1px solid #dddddd;
	}
.fPreview
{
	cursor: pointer;
	color:#006BD8;
	}
.formNtable
{
	padding:10px 20px;
}

#floatTop_content
{
	width: 500px;
	}
.ajax_slide
{
	height: 20px;
	padding: 13px 0 2px 15px;
	background: transparent url(/images/slide_bg.png) no-repeat scroll 0 0;
	}
.ajax_slide_button
{
	cursor: pointer;
	height: 15px;
	font-size: 13px;
	font-weight: bold;
	}
.ajax_slide_content
{
	height: 390px;
	margin: 0 0 0 10px;
	padding: 5px;
	font-size:13px;
	color: #888888;
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #E1E1E1;
	}
.ajax_slide_content table
{
	width: 100%;
	text-align: left;
	table-layout: auto;
	empty-cells: show;
	}
.ajax_slide_content table td
{
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 1px dashed #D7D7D7;
	font-weight: normal;
	padding: 5px 0 4px 10px;
	}
.ajax_slide_button_width
{
	width: 100px;
	}
#ajax_btAddMtr
{
	height: 550px;
	overflow-y: scroll;
	}
.paginationControl p
{
	float: left;
	padding:5px;
	display: block;
	}
	
/*ad_message*/
#ad_message td.ad_message_td:hover
{
	cursor: pointer;
}

table tbody tr:hover td {
	background: #f3f3f3;
}

#ad_message_new a
{
	background:transparent url("/images/ad_message_new.png") repeat-x scroll 0 0;
	padding: 0 10px 0 25px;
}
.highlight
{
	font-weight: bold;
	font-style: italic;
	}
.ajaxButton
{
	color: #006BD8;
	font-style: italic;
	padding: 0 10px;
	cursor: pointer;
	}
.m_status
{
	margin: 0 4px 0 0;
	}
.c_pointer
{
	cursor: pointer;
	}
#nav_general_selected
{
	color: white;
	}
#nav_sidebar_selected
{
	background-color: #cccccc;
	}
#btSubPlan a
{
	color: #ffffff;
	}
.conListTable tr td
{
	background-color: #f3f3f3;
	}